html,
body {
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  text-align: center;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.title-bar {
  margin-top: 0;
  width: 100%;
}

#weatherAppContainer {
  display: flex;
  /* margin: 2% 5%; */
}

.showContainer {
  /* border: 5px solid black; */
  flex: 1 1 30%;
}

.interactiveContainer {
  flex: 1 0 60%;
  /* border: 5px solid darkblue; */
}

.weatherInput,
#previousHistory {
  padding: 0 5%;
}

#loadedCity {
  display: flex;
  flex-direction: column;
}

#cityLabel {
  font-weight: bold;
  font-size: larger;
}

.searchBtn {
  margin-top: 10px;
}

.searchBtn:hover {
  cursor: pointer;
  background-color: darkblue !important;
  color: white !important;
}

#currentDay {
  /* border: 2px solid black; */
  margin: 0 5%;
  text-align: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fiveDay {
  margin-top: 20px;
  padding: 0 5%;
  display: flex;
}

.dayCard {
  flex: 1 1 30%;
  margin: 0 10px 5px 5px;
}

.ui-helper-hidden-accessible {
  display: none;
}

#autocompleteResults ul {
  list-style-type: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .fiveDay {
    flex-direction: column;
  }
  #weatherAppContainer {
    flex-direction: column;
  }
  #currentDay {
    flex-direction: column;
  }

  .card-divider {
    width: 100%;
    text-align: center;
  }
  .dayCard {
    flex: 1 1 20%;
    display: flex;
    justify-self: center;
    align-items: center;
  }
  .dayCard img {
    width: 300px;
    height: 300px;
  }
}
